@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Lora&family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #f8f8f8;
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

/* * {
  box-sizing: border-box;
} */

button,
input[type="submit"],
input[type="date"],
input[type="file"],
input[type="text"],
input[type="number"],
::placeholder,
select {
  font-family: "Quicksand", sans-serif;
}

.logo {
  font-family: "Dongle";
}

.logo:hover {
  cursor: default;
}

.title {
  font-family: "Lora", serif;
}

.loginlogo {
  font-size: 80px;
  margin: 0px;
  padding-top: 12px;
}

.dashboardlogo {
  font-size: 80px;
  margin: 0px;
  padding-top: 12px;
}

.footerlogo {
  font-size: 30px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

.loginlogo,
label,
.warning,
::placeholder,
.title,
.footerlogo,
br {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* for google icons use start */
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
  /* color: #e3e4e3; */
}
/* for google icons use end */

/* login page start */
.loginlanding {
  background-image: url("/loginbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.loginbar {
  background-color: #f8f8f8ef;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 80px; */
  width: 20%;
  min-width: 500px;
}

input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 2px solid grey;
  background-color: transparent;
  font-size: 1em;
  width: 200px;
}

::placeholder {
  color: grey;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: white;
  outline: none;
  box-shadow: 0px 0px 10px #f9bd1760;
}

.loginform {
  width: 312.8px;
}

input[type="text"],
input[type="password"] {
  padding: 5px 0px 5px 0px;
}

.warning {
  color: red;
}

.loginlogo {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.loginbtn,
input[type="submit"],
button {
  background-color: #f9bc17;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: 1px solid #f9bc17;
}

.loginbtn:hover,
input[type="submit"]:hover,
button:hover {
  box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.logininput {
  /* width: 252.8px; */
  width: 200px;
  float: right;
  margin: 25px 56px;
}
/* login page end */

/* header style starts here */
.headernav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6e6;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.headernavlogo {
  width: fit-content;
}

.headerlogo {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

#headernavoptions {
  /* height: 84px; */
  margin-right: 20px;
}

ul#horizontal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.headerli {
  float: left;
}

.headericon {
  margin: 0px 10px;
}

.headericonlast {
  margin-left: 10px;
}

/* end header */

/* start dashboard */

.dashboardcontainer {
  display: flex;
  min-height: calc(100vh - 128px);
}

.dashboardnavbar {
  min-width: 250px;
  width: fit-content;
  /* padding: 5px, 20px; */
  background-color: #333333;
  color: white;
}

.dashboardcontentcontainer {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
}

.dashboardcontent {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.dashboardblocks {
  display: flex;
  margin-bottom: 20px;
}

.graphcontainer {
  width: 100%;
  height: 500px;
  min-width: 500px;
}

.dashboardconstruct,
.dashboardtnc {
  width: 50%;
  text-align: center;
}

.postalhighlight:hover {
  background-color: #f9bc17;
  cursor: pointer;
}

/* end dashboard */

/* start nav bar */
.navlink:hover {
  background-color: #f9bc17;
  color: black;
}

.navlink {
  padding: 25px 10px 25px 30px;
}

.footercontainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.normalfooter {
  bottom: 0;
  width: 90%;
  padding: 0px 0px 15px 0px;
}

.dashboardfooter {
  bottom: 0;
  width: 100%;
  padding: 0px 0px 15px 0px;
}

.dashboardfooterdivider,
.footerdivider {
  border-top: 1px solid #e6e6e6;
  width: 100%;
}

.cardcontainer {
  display: flex;
  justify-content: center;
}

.cardcontent {
  margin-bottom: 20px;
}

.mapplacement {
  height: 450px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
}

.statushighlightpen {
  text-shadow: 0 0 5px pink, 0 0 10px red, 0 0 15px red, 0 0 20px red;
  color: black;
}

.statushighlightcon {
  text-shadow: 0 0 5px orange, 0 0 10px orange, 0 0 15px orange, 0 0 20px orange;
  color: black;
}

.statushighlighttnc {
  text-shadow: 0 0 5px #f9f517, 0 0 10px #f9f517, 0 0 15px #f9f517,
    0 0 20px #f9f517;
  color: black;
}

.statushighlighton {
  text-shadow: 0 0 5px #8cff8c, 0 0 10px #17f917, 0 0 15px #17f917,
    0 0 20px #17f917;
  color: black;
}

.updatecontainer,
.addcontainer,
.blockviewcontainer,
.managementcontainer,
.cardcontainer,
.accountContainer {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 208px);
}

.accountCard {
  /* width: 200px; */
  min-width: 50%;
  text-align: center;
}

.dashboardcontentnofooter {
  min-height: calc(100vh - 208px);
}

.blockview {
  width: 500px;
  text-align: center;
  margin-bottom: 20px;
}

.adduser {
  background-color: #f9bc17;
  padding: 6px 14px;
  border-radius: 6px;
  border: 1px solid #f9bc17;
  font-family: "Quicksand", sans-serif;
}

.adduser:hover {
  box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.userdelbtn {
  background-color: #f8f8f8;
  padding: 6px 14px;
  border-radius: 6px;
  border: 1px solid #f9bc17;
  font-family: "Quicksand", sans-serif;
}

.userdelbtn:hover {
  background-color: #f9bc17;
  padding: 6px 14px;
  border-radius: 6px;
  border: 1px solid #f9bc17;
  font-family: "Quicksand", sans-serif;
  box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.managementpanel {
  min-width: 700px;
  width: 50%;
  text-align: center;
}

.usercontainer {
  width: 100%;
}

.useritem {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px 0px 20px;
}

.userlink {
  width: 75%;
  display: flex;
  flex-direction: row;
}

.userfirstname,
.useremail,
.userusertype {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.userdel {
  width: 25%;
  display: flex;
  justify-content: center;
  /* align-self: center; */
}

.adduserbar {
  width: 100%;
  margin: 0px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-icons.md-36:hover {
  text-decoration-line: underline;
  text-decoration-color: #f9bc17;
  text-underline-position: under;
}

.dashboardtncyourtnc {
  display: flex;
  justify-content: center;
}

.dashboardtncpostal,
.dashboardtncdate {
  min-width: 30%;
}
